version: "3.9"

services:
  backend:
    build: .
    container_name: slip_safe_backend
    env_file:
      - .env.${ENV_FILE:-dev}
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:15
    container_name: receipt_app_db
    environment:
      POSTGRES_USER: receipt_user
      POSTGRES_PASSWORD: receipt_pass
      POSTGRES_DB: receipt_app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: